<div id="huegroup_menu">
	<% @hue.groups.each do |group_id, group| %><div class="huegroup">
			<input type="radio" name="groupselector" value="<%= group_id %>" id="groupselector-<%= group_id %>" class="<%= group_id %>_v dd_group">
			<label for="groupselector-<%= group_id %>"><%= group.name %></label>
			<div class="huebulbs">
			<% group.bulbs.each do |bulb| %>
				<input type="radio" name="groupselector" value="<%= bulb.id %>" id="bulbselector-<%= bulb.id %>" class="<%= group_id %>_v dd_bulb">
				<label for="bulbselector-<%= bulb.id %>"><%= bulb.id %></label><br>
			<% end %></div>
		</div><% end %>
</div>
<div>Colorpicker</div>
<div><% @huetheme.group_themes.each do |group_id, themes| %>
	<% themes.theme_name.each do |themename| %>
		<button class="<%= group_id %>"><%= themename.name %></button>
	<% end %>
<% end %></div>