<div id="huegroup_menu">
	<div class="huegroup all" data-groupid="All">
		<input type="radio" name="groupselector" value="groupAll" id="groupselector-All" class="groupAll_v group_bg">
			<label for="groupselector-All">All</label>
	</div><% @hue.groups.each do |group_id, group| %><div class="huegroup" data-groupid="<%= group_id %>">
			<input type="radio" name="groupselector" value="<%= group_id %>" id="groupselector-<%= group_id %>" class="group<%= group_id %>_v group_bg">
			<label for="groupselector-<%= group_id %>"><%= group.name %></label>
			<div class="huebulbs">
			<% group.bulbs.each do |bulb| %>
				<input type="radio" name="groupselector" value="<%= bulb.id %>" id="bulbselector-<%= bulb.id %>" class="group<%= group_id %>_v dd_bulb">
				<label for="bulbselector-<%= bulb.id %>"><%= bulb.id %></label><br>
			<% end %></div>
		</div><% end %>
</div>
<div id="colorwrapper">
	<div id="themes"><% @huetheme.group_themes.each do |group_id, themes| %>
		<% themes.theme_name.each do |themename| %>
			<button class="group<%= group_id %> themebutton"><%= themename.name %></button>
		<% end %>
	<% end %></div><div id="colorpicker">Colorpicker</div>
</div>
<div id="optionswrapper">
	<p class="option_select">Select options:</p>
	<div id="options">
		<p class="option_button">Create a theme</p>
		<p class="option_button">Create a schedule</p>
		<p class="option_button">Add wakeup</p>
	</div>
</div>